flows_Enrique-Mar.json
[{"id":"4a9a086a.b565f8","type":"tab","label":"Inject","disabled":false,"info":""},{"id":"f6e9d4c2.26df38","type":"tab","label":"Switch","disabled":false,"info":""},{"id":"650d22f8.534f9c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"96ca5865.a769f8","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"c4321f88.1440f","type":"tab","label":"Variables","disabled":false,"info":""},{"id":"20ed0a76.1735b6","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"d8044477.27fbb8","type":"self","nmos_id":"01b25aad-b91c-444a-ac3f-f3803201f3d3","version":"1597105195:27025400","nmos_label":"Dynamorse Enrique-Mar 12000","href":"http://dynamorse-Enrique-Mar-12000.local:3101","hostname":"Enrique-Mar"},{"id":"f089bf72.0f764","type":"device","nmos_id":"884c77e9-3b52-4c14-b414-61d12df939fd","version":"1597105195:39973300","nmos_type":"urn:x-nmos:device:generic","nmos_label":"device-Enrique-Mar-12000","node_id":"01b25aad-b91c-444a-ac3f-f3803201f3d3","node_ref":"d8044477.27fbb8","senders":[],"receivers":[]},{"id":"da7405b8.258bf8","type":"device","nmos_id":"8d3153d3-f826-40aa-ba76-9a14cc9717ea","version":"1597105195:40176999","nmos_type":"urn:x-nmos:device:pipeline","nmos_label":"pipelines-Enrique-Mar-12000","node_id":"01b25aad-b91c-444a-ac3f-f3803201f3d3","node_ref":"d8044477.27fbb8","senders":[],"receivers":[]},{"id":"30fb5980.cf04a6","type":"rtp-ext","name":"rtp-extensions-default","origin_timestamp_id":1,"smpte_tc_id":2,"smpte_tc_param":"3600@90000/25","flow_id_id":3,"source_id_id":4,"grain_flags_id":5,"sync_timestamp_id":7,"grain_duration_id":9,"ts_refclk":"ptp=IEEE1588-2008:dd-a9-3e-5d-c7-28-28-dc"},{"id":"5bb0eded.fa0f24","type":"ui_tab","z":"","name":"CONTROL","icon":"dashboard","disabled":false,"hidden":false},{"id":"8a3dc928.7b6668","type":"ui_group","z":"","name":"INDICADORES","tab":"5bb0eded.fa0f24","order":1,"disp":true,"width":5,"collapse":false},{"id":"f08047fa.2874e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#60516c","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#60516c","edited":true},"page-titlebar-backgroundColor":{"value":"#60516c","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#877396","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#60516c","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Mi control","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"50436f66.748ee","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b0632749.dd45d8","type":"ui_group","z":"","name":"INDICADORES","tab":"5bb0eded.fa0f24","order":2,"disp":true,"width":13,"collapse":false},{"id":"6232b58d.deb6cc","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":4,"width":5,"height":1},{"id":"1787a6d9.eec309","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":5,"width":5,"height":1},{"id":"75e8ae01.45266","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":6,"width":5,"height":1},{"id":"7aed3231.892a4c","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":7,"width":5,"height":1},{"id":"672adad0.f75814","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":8,"width":5,"height":1},{"id":"8ef23126.dcbc4","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":9,"width":5,"height":1},{"id":"7fd5412c.9be6e","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":10,"width":5,"height":1},{"id":"f4ac880b.225488","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":11,"width":5,"height":1},{"id":"c8e46a87.72e7d8","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":12,"width":5,"height":1},{"id":"c21bf1fc.e3fed","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":13,"width":5,"height":1},{"id":"3652067a.24de8a","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":14,"width":5,"height":1},{"id":"45c57363.d4381c","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":15,"width":5,"height":1},{"id":"764ef40c.3d229c","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":16,"width":5,"height":1},{"id":"37ceaa09.529ac6","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":17,"width":5,"height":1},{"id":"6165d442.69ef3c","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":18,"width":5,"height":1},{"id":"1d16b098.5eb46f","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":19,"width":5,"height":1},{"id":"845bf9f0.ccea38","type":"ui_spacer","name":"spacer","group":"b0632749.dd45d8","order":20,"width":5,"height":1},{"id":"ec3c67c3.621658","type":"telegrambot-config","z":"","botname":"kikin","usernames":"","chatIds":"","pollInterval":"300"},{"id":"e46b9f86.9540b","type":"mqtt-broker","z":"","name":"","broker":"iot.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"595004fa.a6affc","type":"comment","z":"4a9a086a.b565f8","name":"Streampunk Media","info":"Design and deploy professional media workflows with [_Dynamorse_](https://github.com/Streampunk/dynamorse/blob/master/README.md).\n\nFor support, development or further information, please e-mail [Streampunk Media Ltd](http://www.streampunk.media) on [furnace@streampunk.media](mailto: furnace@streampunk.media).\n\nDynamorse depends on [codecadon](https://github.com/Streampunk/codecadon) that incorprates binaries compiled from unmodified [LGPL v3 licensed code](https://github.com/Streampunk/codecadon/tree/master/licenses) from the FFMPEG project.","x":122,"y":45,"wires":[]},{"id":"1a768480.554a7c","type":"inject","z":"4a9a086a.b565f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topico1","payload":"Hola mundo","payloadType":"str","x":350,"y":260,"wires":[["563aea76.00f3b4"]]},{"id":"563aea76.00f3b4","type":"debug","z":"4a9a086a.b565f8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"dd55af56.c59f6","type":"inject","z":"f6e9d4c2.26df38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HOLA","payloadType":"str","x":210,"y":100,"wires":[["aa87beaf.560d8","4e0ad821.bc1908"]]},{"id":"5a0b5ae4.145dd4","type":"inject","z":"f6e9d4c2.26df38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ADIÓS","payloadType":"str","x":190,"y":200,"wires":[["aa87beaf.560d8","4e0ad821.bc1908"]]},{"id":"aa87beaf.560d8","type":"switch","z":"f6e9d4c2.26df38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HOLA","vt":"str"},{"t":"eq","v":"ADIÓS","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":220,"wires":[["84343313.fa81f"],["8eb0ec2e.3af3d"],["e11e444a.9ff5f8"]]},{"id":"84343313.fa81f","type":"debug","z":"f6e9d4c2.26df38","name":"Cuando dice hola","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":160,"wires":[]},{"id":"8eb0ec2e.3af3d","type":"debug","z":"f6e9d4c2.26df38","name":"Cuando dice adiós","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"e11e444a.9ff5f8","type":"debug","z":"f6e9d4c2.26df38","name":"Otherwise","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":280,"wires":[]},{"id":"41052e95.0fb7e","type":"inject","z":"f6e9d4c2.26df38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Saludos","payloadType":"str","x":200,"y":260,"wires":[["aa87beaf.560d8","4e0ad821.bc1908"]]},{"id":"60ee71ee.aa04a","type":"ui_button","z":"650d22f8.534f9c","name":"","group":"8a3dc928.7b6668","order":1,"width":0,"height":0,"passthru":false,"label":"Push","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Saludos a todos","payloadType":"str","topic":"","x":490,"y":140,"wires":[["bc77dfac.bdcc9","28d5fffd.a3868","32d6f6fe.4d71ba"]]},{"id":"bc77dfac.bdcc9","type":"ui_audio","z":"650d22f8.534f9c","name":"","group":"8a3dc928.7b6668","voice":"es-MX","always":true,"x":730,"y":140,"wires":[]},{"id":"5040ea62.bada74","type":"ui_gauge","z":"650d22f8.534f9c","name":"","group":"b0632749.dd45d8","order":1,"width":0,"height":0,"gtype":"compass","title":"Medición","label":"litros","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":280,"wires":[]},{"id":"d5f0fb26.20f298","type":"ui_slider","z":"650d22f8.534f9c","name":"","label":"Medidas","tooltip":"","group":"b0632749.dd45d8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":520,"y":280,"wires":[["5040ea62.bada74","8f7e149e.5f9f28","75d53afc.9c4ca4"]]},{"id":"cca10606.07fbb8","type":"random","z":"650d22f8.534f9c","name":"","low":"1","high":"100","inte":"true","property":"payload","x":330,"y":280,"wires":[["d5f0fb26.20f298"]]},{"id":"7ffe1af0.087454","type":"inject","z":"650d22f8.534f9c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["cca10606.07fbb8"]]},{"id":"8f7e149e.5f9f28","type":"ui_chart","z":"650d22f8.534f9c","name":"","group":"b0632749.dd45d8","order":3,"width":"13","height":17,"label":"Gráfica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":320,"wires":[[]]},{"id":"28d5fffd.a3868","type":"ui_toast","z":"650d22f8.534f9c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"hola","name":"","x":770,"y":80,"wires":[]},{"id":"32d6f6fe.4d71ba","type":"ui_text","z":"650d22f8.534f9c","group":"8a3dc928.7b6668","order":2,"width":0,"height":0,"name":"","label":"HOLA ","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":200,"wires":[]},{"id":"5dfa5838.eaf2b8","type":"telegrambot-command","z":"96ca5865.a769f8","name":"Hola","bot":"ec3c67c3.621658","command":"Hola","commandType":"re","commandCase":false,"x":110,"y":320,"wires":[["2b4ae944.1df936","78e84096.35829"]]},{"id":"2b4ae944.1df936","type":"debug","z":"96ca5865.a769f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":320,"wires":[]},{"id":"bacf9da6.81ec6","type":"inject","z":"c4321f88.1440f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":100,"wires":[["22300a7d.5cdd16"]]},{"id":"22300a7d.5cdd16","type":"change","z":"c4321f88.1440f","name":"","rules":[{"t":"set","p":"variable1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[[]]},{"id":"9e59a2f.522266","type":"inject","z":"c4321f88.1440f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"variable1","payloadType":"flow","x":130,"y":240,"wires":[["f5623461.634338"]]},{"id":"f5623461.634338","type":"debug","z":"c4321f88.1440f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":240,"wires":[]},{"id":"c922f0bf.65bf3","type":"inject","z":"c4321f88.1440f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HOLA","payloadType":"str","x":290,"y":140,"wires":[["22300a7d.5cdd16"]]},{"id":"955cdf8a.b1364","type":"inject","z":"c4321f88.1440f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":290,"y":180,"wires":[["22300a7d.5cdd16"]]},{"id":"e258edc9.6fc09","type":"function","z":"c4321f88.1440f","name":"variables","func":"var variableNode = global.get('variable1');\nmsg.payload = variableNode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":420,"wires":[["a0a68110.713fa"]]},{"id":"23fa11a6.cc56be","type":"inject","z":"c4321f88.1440f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":420,"wires":[["e258edc9.6fc09"]]},{"id":"a0a68110.713fa","type":"debug","z":"c4321f88.1440f","name":"Link","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":420,"wires":[]},{"id":"a5e100ed.7f6c7","type":"telegrambot-switch","z":"96ca5865.a769f8","name":"Puedo ayudarte","bot":"ec3c67c3.621658","chatId":"","question":"","answers":["en nada","en todo"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":580,"y":360,"wires":[["4ff9b769.b18748"],["1b1a29dd.898706"]]},{"id":"4ff9b769.b18748","type":"change","z":"96ca5865.a769f8","name":"Sin ayuda","rules":[{"t":"set","p":"payload","pt":"msg","to":"a bueno","tot":"msg"},{"t":"set","p":"variable1","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":340,"wires":[["1d84c355.6bcb3d"]]},{"id":"1b1a29dd.898706","type":"change","z":"96ca5865.a769f8","name":"Con ayuda","rules":[{"t":"set","p":"payload","pt":"msg","to":"me da gusto","tot":"str"},{"t":"set","p":"variable1","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":400,"wires":[["1d84c355.6bcb3d"]]},{"id":"1d84c355.6bcb3d","type":"telegrambot-notify","z":"96ca5865.a769f8","name":"respuesta","bot":"ec3c67c3.621658","chatId":"","message":"","parseMode":"","x":1050,"y":360,"wires":[]},{"id":"4e0ad821.bc1908","type":"switch","z":"f6e9d4c2.26df38","name":"","property":"variable1","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":420,"wires":[["88590c0.fdb1ff"],["82199821.e5e3a8"]]},{"id":"88590c0.fdb1ff","type":"debug","z":"f6e9d4c2.26df38","name":"TRUE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"82199821.e5e3a8","type":"debug","z":"f6e9d4c2.26df38","name":"FALSE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":460,"wires":[]},{"id":"78e84096.35829","type":"change","z":"96ca5865.a769f8","name":"Username","rules":[{"t":"set","p":"payload","pt":"msg","to":"telegram.from.first_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["368e8c8.7d95c74"]]},{"id":"368e8c8.7d95c74","type":"link out","z":"96ca5865.a769f8","name":"Telegram-username","links":["6e457c04.a42124"],"x":535,"y":280,"wires":[]},{"id":"6e457c04.a42124","type":"link in","z":"c4321f88.1440f","name":"","links":["368e8c8.7d95c74"],"x":155,"y":540,"wires":[["e7bd8e3.4592d7"]]},{"id":"e7bd8e3.4592d7","type":"function","z":"c4321f88.1440f","name":"link","func":"var variableNode = 'Hola ' + msg.payload + ', gracias por tu mensaje ¿En qué puedo ayudarte?'\nmsg.payload = variableNode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":540,"wires":[["c16c9bd8.3d6698"]]},{"id":"744b5cbd.114024","type":"comment","z":"c4321f88.1440f","name":"Cómo bajar el valor de una varibale global","info":"","x":300,"y":380,"wires":[]},{"id":"759c16f1.559928","type":"comment","z":"c4321f88.1440f","name":"Cómo conectar nodos link y uso de funciones","info":"","x":310,"y":500,"wires":[]},{"id":"c16c9bd8.3d6698","type":"link out","z":"c4321f88.1440f","name":"variables-link","links":["7cd0bda7.2bd784"],"x":455,"y":540,"wires":[]},{"id":"7cd0bda7.2bd784","type":"link in","z":"96ca5865.a769f8","name":"","links":["c16c9bd8.3d6698"],"x":855,"y":280,"wires":[["96b64431.981828"]]},{"id":"96b64431.981828","type":"delay","z":"96ca5865.a769f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":380,"wires":[["a5e100ed.7f6c7"]]},{"id":"1e510e1a.54a492","type":"mqtt out","z":"20ed0a76.1735b6","name":"","topic":"curso/Mar","qos":"","retain":"","broker":"e46b9f86.9540b","x":400,"y":160,"wires":[]},{"id":"c352cb0f.9209e8","type":"inject","z":"20ed0a76.1735b6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Saludos gallazos","payloadType":"str","x":240,"y":160,"wires":[["1e510e1a.54a492"]]},{"id":"926e2817.995fb8","type":"debug","z":"20ed0a76.1735b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":220,"wires":[]},{"id":"5ee6eaa.9f5ba14","type":"mqtt in","z":"20ed0a76.1735b6","name":"","topic":"curso/gamaliel","qos":"2","datatype":"auto","broker":"e46b9f86.9540b","x":210,"y":220,"wires":[["926e2817.995fb8"]]},{"id":"75d53afc.9c4ca4","type":"mqtt out","z":"650d22f8.534f9c","name":"","topic":"curso/Mar/sensor","qos":"","retain":"","broker":"e46b9f86.9540b","x":770,"y":420,"wires":[]},{"id":"bb9df1a7.f688","type":"mqtt in","z":"20ed0a76.1735b6","name":"","topic":"curso/+/sensor","qos":"2","datatype":"auto","broker":"e46b9f86.9540b","x":220,"y":280,"wires":[["33d3ac19.2299f4"]]},{"id":"7f7f9ec6.3966e","type":"debug","z":"20ed0a76.1735b6","name":"+","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"33d3ac19.2299f4","type":"delay","z":"20ed0a76.1735b6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":280,"wires":[["7f7f9ec6.3966e"]]},{"id":"4ee2530d.4f295c","type":"ui_text_input","z":"20ed0a76.1735b6","name":"Chat","label":"","tooltip":"","group":"8a3dc928.7b6668","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":190,"y":540,"wires":[["b51dfd41.34671","31ebb335.5cf4bc"]]},{"id":"6c18a9db.05e348","type":"ui_text","z":"20ed0a76.1735b6","group":"8a3dc928.7b6668","order":4,"width":0,"height":0,"name":"Text","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":620,"wires":[]},{"id":"e0339bd0.2d0568","type":"mqtt in","z":"20ed0a76.1735b6","name":"","topic":"curso/+/chat","qos":"2","datatype":"auto","broker":"e46b9f86.9540b","x":210,"y":620,"wires":[["6c18a9db.05e348"]]},{"id":"23cc70d.432bf9","type":"mqtt out","z":"20ed0a76.1735b6","name":"","topic":"curso/david/chat","qos":"","retain":"","broker":"e46b9f86.9540b","x":620,"y":540,"wires":[]},{"id":"b51dfd41.34671","type":"change","z":"20ed0a76.1735b6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":440,"wires":[["4ee2530d.4f295c"]]},{"id":"31ebb335.5cf4bc","type":"function","z":"20ed0a76.1735b6","name":"","func":"var variableNode = 'MAR: ' + msg.payload\nmsg.payload = variableNode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":540,"wires":[["23cc70d.432bf9"]]}]